---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>你好，我是 longfei。欢迎来到我的博客。
      这个博客主要用来记录一些技术笔记（很硬核），包括源码分析，论文阅读等。
      欢迎通过邮件与我交流。
    </p>

    <p>版权声明：
      所有文章，仅供学习交流使用，禁止用于商业用途。

      如无特殊说明，都遵循
      <a
        href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
        target="_blank"
        class="text-blue-500 underline">CC BY-NC-ND 4.0</a
      > 协议。如需转载，请注明出处。
    </p>
    <p>
      博客采用了 <code
        >Astro 框架，使用的主题是 ai 魔改的 <a
          href="https://github.com/nicholasdly/miniblog"
          target="_blank"
          class="text-blue-500 underline">miniblog</a
        >.
      </code>
    </p>
  </main>
</Layout>
